/* styles.css */
:root {
    --bg: #0dff19a6;
}
body { 
    background-color: var(--bg);
    margin: 20px;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
h4 {
    text-align: center;
    color: #555;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    align-items: center;
}
.nav-buttons {
    color: #4CAF50;
    padding: 10px 5px;
    margin: 0px;
    border: dotted 10px #b700ff;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
}
.setup {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#instructions.setup {
    text-align: left;
}
